
<footer id="footer" style="background-color: #FFF;">
  <div class="container">
    <!-- Footer Widgets============================================= -->
    <div class="footer-widgets-wrap clearfix">
      <div class="row clearfix">
        <div class="col-md-5">
          <div class="widget clearfix">
            <div class="row clearfix">
              <div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
                <img src="../../assets/images/logo.png" alt="afforestt logo" style="max-height: 100px;">
                <p>Afforestt is a service provider for creating natural, wild, maintenance free, native forests.</p>

                <div class="image">
                  <a target="_blank" href="https://www.facebook.com/afforestt" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                    <img src="../../assets/images/if_facebook_02_16640.png" >
                  </a>
                  <a target="_blank" href="https://twitter.com/afforestt" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
                    <img src="../../assets/images/if_twitter_circle_color_107170.png" >
                  </a>
                  <a target="_blank" href="https://www.instagram.com/afforestt/" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
                    <img src="../../assets/images/if_gmail_1220367.png" >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row clearfix">
            <div class="col-md-6 bottommargin-sm">
              <div class="widget widget_links app_landing_widget_link clearfix">
                <h4 style="margin-left: 30px">Solutions</h4>
                <ul>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-6 bottommargin-sm">
              <div class="widget widget_links app_landing_widget_link clearfix">
                <h4 style="margin-left: 30px">About</h4>
                <ul>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                  <li><a routerLink="#">Consulting</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyrights============================================= -->

    <div class="copyright">
      <div class="content">Copyrights © 2017 All Rights Reserved by Afforestt Eco Services Private Limited, India.</div>
    </div>
</footer>
