<app-header></app-header>
<p style="margin-top: 0px">

</p>

<div class="carousel-item active" style="background-image: url('../../assets/prototype pics/1.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>About US</h3>

  </div>
</div>

<section class="py-5">
  <div class="container">
    <h1>About US</h1>
    <p>Project4jungle is a service provider for creating natural, wild, maintenance free, native forests. At Project4jungle,
      we work passionately on and off-site to provide the best solutions at the lowest possible cost.
      Started in September 2018, Project4jungle is a for profit social enterprise on a mission to bring back our native forests.
      Our mission is to bring back our lost forests, we do it by creating them.</p>
  </div>
</section>
