<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/aboutus.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>About Us</h3>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h1>About Us</h1>
    <p>Project4Jungle is a service provider for creating natural, wild, maintenance free, native forests. At Project4Jungle,
      we work passionately on and off-site to provide the best solutions at the lowest possible cost.
      Started in September 2018, Project4Jungle is a social enterprise on a mission to bring back our native forests
      that have been lost. We do it by creating them.</p>
  </div>
</section>

<section class="py-1">
  <div class="container">
    <h3>Meet the Team</h3>
    <p>
      We are a small team of 3 people.
    </p>

      <div class="image row">
        <div>
          <img src="../../assets/team/sandeep.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Sandeep Tiwari</h3>
          <i>Founder Director</i>
        </div>
        <div>
          <img src="../../assets/team/rohit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Rohit Singh</h3>
          <i>Chief Technology Officer</i>
        </div>
        <div>
          <img src="../../assets/team/mudit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Mudit Ranjan</h3>
          <i>Senior Project Coordinator</i>
        </div>

      </div>
  </div>
</section>
<section>
  <hr>
  <app-footer></app-footer>
</section>
