<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/gallery.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Gallery</h3>
  </div>
</div>



<section class="py-1">
  <div class="container">
    <h3>Meet the Team</h3>
    <p>
      We are a small team of 3 people.
    </p>

    <div class="image row">
      <div>
        <img src="../../assets/gallery/1.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>
      <div>
        <img src="../../assets/gallery/2.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>
      <div>
        <img src="../../assets/gallery/3.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>
      <div>
        <img src="../../assets/gallery/4.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>
      <div>
        <img src="../../assets/gallery/5.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>
      <div>
        <img src="../../assets/gallery/6.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div><div>
      <img src="../../assets/gallery/7.jpeg" class="img-rounded" alt="Cinque Terre">
      <h3></h3>
      <i>p</i>
    </div>
      <div>
        <img src="../../assets/gallery/8.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i>p</i>
      </div>


    </div>
  </div>
</section>
<section>
  <hr>
  <app-footer></app-footer>
</section>
