<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/services.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Services</h3>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h1>Services</h1>
    <h4>Lawn forestation
    </h4>
    <h4>Tiny forestation</h4>
    <h4>Themed forestation</h4>
    <h4>Large scale forestation</h4>
    <h4>Water front and slope embracement
    </h4>
    <h4>Consultation</h4>
    <h4>Fencing</h4>
  </div>
</section>




<section>
  <hr>
  <app-footer></app-footer>
</section>

