
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.background{
  margin-left: 20px;
}

.card h4{
  margin: 10px 0 10px 10px;
}
