<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/services.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Services</h3>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h1>Services</h1>

    <div class="card">
      <h4 id="one"><a>Lawn forestation</a></h4>
      <div id="first" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>


    <div class="card">
      <h4 id="two"><a>Tiny forestation</a></h4>
      <div id="second" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h4 id="three"><a>Large scale forestation</a></h4>
      <div id="third" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h4 id="four"><a>Themed forestation</a></h4>
      <div id="forth" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>


    <div class="card">
      <h4 id="five"><a>Water front and slope embracement</a></h4>
      <div id="fifth" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h4 id="six"><a>Fencing</a></h4>
      <div id="sixth" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

  </div>
</section>




<section>
  <hr>
  <app-footer></app-footer>
</section>

