<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/services.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Services</h3>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h1>Services</h1>
    <p>In 2018 we will collaborate for the implementation of Project Jungle in maximum educational institutions of Delhi-NCR.
    </p>
    <p>Our target is to create more then 330 metre square of forest in every 1 km square.
    </p>
    <p>Holding workshops in the same institutions for creating market in every home by creating awareness.
    </p>
    <p>Our goal is to implement our ideas to minimum area 50 acres of land before 2018.
    </p>
    <p>Procure tenders.
    </p>
    <p>Start manufacturing of vermi-compost and manures.
    </p>
  </div>
</section>




<section>
  <hr>
  <app-footer></app-footer>
</section>

